h1 {
  font-family: Poppins, sans-serif;
  font-size: 96px;
  line-height: 144px;
  text-align: center;
}
.india {
  font-family: Rubik Maps, fantasy;
  font-weight: 100;
  font-size: 125px;
  line-height: 166px;
}

footer {
  text-align: center;
}

footer a {
  color: rgb(255, 60, 0);
}
